.control ul li{
    list-style: none;
    background-color: rgb(233, 20, 109);
    padding: 5px 15px;
    color:white;
    display: inline-block;
    cursor:pointer;           
    letter-spacing:2px ;

}
.item{
    position: relative;
}
.item:hover{
    -webkit-box-shadow:-18px 3px 109px -65xp rgba(0,0,0,75) ;
    -moz-box-shadow:-18px 3px 109px -65xp rgba(0,0,0,75) ;
    box-shadow:-18px 3px 109px -65xp rgba(0,0,0,75) ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.item span{
    position:absolute;
    top:40%;
    left:45%;
    font-size: 40px;
    color: black;
    cursor: pointer;
    opacity: 0;
}  
.item:hover span{
    opacity: 1;
    transition: 0.5s;

}

.item::before{
    content: "";
    left:0%;
    top:0;
    height: 100%;
    width: 100%;
    background-color: azure;
    opacity: 0;
    position: absolute;
}

.item:hover::before {
    opacity: 1;
    transition: 0.3s;
}