.card{
    width: 18rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card:hover{
    color: #f5cae4;
    box-shadow: 0 0 5px #ec8fe5;

    transform: rotateY(360deg)
    
}

.services{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.bb{
    margin-left: 20px;
}
